fastapi
uvicorn
python-dotenv
pydantic[email]
requests
itsdangerous
authlib
httpx
passlib[bcrypt]
bcrypt
psycopg2-binary
sqlalchemy
starlette
python-multipart
python-jose[cryptography]
anthropic
google-genai
pandas
fpdf2
python-pptx
